---
import { Font } from 'astro:assets';

const { title, description, image, url } = Astro.props;

export type Props = {
    title: string;
    description: string;
    image: string;
    url: string;
};
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:card" content="summary_large_image" />
<link rel="icon" type="image/jpg" href={image} />

<Font cssVariable='--font-fira-code' />
<Font cssVariable='--font-zalando-sans' />
